* {
    padding: 0;
    margin: 10rem auto 0 auto;
    box-sizing: border-box;
    width: 90%;
    /*text-align: center;*/
  }
  
  /* :root represents the <html> element and is identical to the selector html, except that its specificity is higher */
  
  :root {
    /* Using CSS Custom properties */
    --grn: #606c5d;
    --pnk: #fff4f4;
    --beige: #f7e6c4;
    --yel: #f1c376;
    --mainbackgroundcolor: #f1c376;
  }
  h1 {
    background-color: var(--beige);
    /* background-color: #606c5d; */
    color: var(--grn);
  }
  h2 {
    background-color: var(--mainbackgroundcolor);
    /* background-color: #606c5d; */
    color: var(--grn);
  }
  h3 {
    background-color: var(--mainbackgroundcolor);
    /* background-color: #606c5d; */
    color: var(--grn);
  }
  body {
    border: 15px solid rgb(163, 216, 247);
    width: 80%;
    margin: 5rem auto 0 auto;
    height: 40rem;
    position: static;
    /* The element is positioned according to the normal flow of the document. The top, right, bottom, left, and z-index properties have no effect. This is the default value. */
  }
  #one {
    width: 20%;
    background-color: linen;
    position: relative;
    left: 100px;
    padding-left: 20px;

    /* The element is positioned according to the normal flow of the document, and then offset relative to itself based on the values of top, right, bottom, and left. The offset does not affect the position of any other elements; thus, the space given for the element in the page layout is the same as if position were static.
  
    This value creates a new stacking context when the value of z-index is not auto. Its effect on table-*-group, table-row, table-column, table-cell, and table-caption elements is undefined. */
  }
  .master {
    width: 100px;
    height: 50px;
    background-color: teal;
    margin: 1rem auto;
    position: relative;
  }
  
  .overlay {
    width: 100%;
    height: 0;
    background-color: tomato;
    position: absolute;
    overflow-x: hidden;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  
  .master:hover .overlay {
    height: 100%;
    top: 0;
  }